#grader {
	display: grid;
	height: 50vh;
	grid-template-columns: 1fr 1fr;
}

.grade_category, #grader_header {
	display: grid;
	grid-template-columns: 30px 100px 60px 70px 40px;
}
#grader div {
	border: 0.1px solid grey;
	/*border-right: 0.2px solid grey;*/
}
#grader_header {
	grid-template-columns: 70px 30px 100px 60px 70px 40px;
}
.course_name {
	grid-row: 1/span 10;
    line-height: 70px;
    writing-mode: vertical-rl;
    text-align: center;
}
#grader {
	font-family: Arial;
	font-size: 13px;

}
.number-cell {
	padding: 4px;
}
#grader div {

}

#grader_header>div {
	text-align: center;
	color: white;
	padding: 10px !important;
	background-color: #009edd;
}

.grade_category {
	grid-template-rows: repeat(3, 20px);
}

.grade_category>div:nth-child(-n+3) {
	grid-row: 1/span 3;
	text-align: center;
	line-height: 60px;
}

#grader_header>div:nth-child(5) {
	grid-column: 5/span 2;
}

.grade_category>div:nth-child(2n+5) {
	text-align: center;
}

.cate_weight:focus {
	border: 1px solid orange;
	outline: none;
}

.grade_course {
	display: grid;
	grid-template-columns: 70px auto;
}